*{
    margin: 0;
}
html,body{
    background-color: black;
}
#rightPanel{
    flex-grow: 2;
    border: white solid thin;
    border-left: none;

    display: flex;
    justify-content: space-evenly;
}
#todayTab{
    border: white solid thin;
    flex-grow: 1;
    min-width: 450px;
    max-width: 600px;
}
#titleBox{
    display: flex;
    align-items: center;
}
#titleBox > button{
    margin-left: 30px;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: green;
    font-size: 25px;
    color: white;
}
#titleBox > button:hover{
    background: red;
}

#checkBox{
    display: flex;
    align-items: center;
    border: white solid thin;
}
input[type="checkbox"]{
    height: 16px;
    width: 16px;
    margin: 20px;
}
input:checked + p{
    text-decoration: line-through;
  
}
p{
    color: white;
    font-size: .7cm;
    font-family:'Sansita Swashed', cursive;

    height: 100%;
    padding-left: 10px;
    border-left:rgb(26, 167, 214) solid thin;
}

#extraStuff{
    flex: .5;
    min-width: 300px;

    display: grid;
    grid-template-rows: 100px 100px auto;

}
#extraStuff > div{
    border: white solid thin;
}

#deadlineBox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#deadlineBox > h1{
    flex: 1;
}
#deadlineBox > p1{
    flex:1;
}
#priorityBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#priorityBox > h1{
    flex: 1;
}
#threeButtons{
    flex: 1;
    display: flex;
    margin-bottom: 10px;
}
#greenPriority{
    flex:1;
    background: green;
    padding: 20px;
    border-radius: 50%;
}
#yellowPriority{
    flex:1;
    background: yellow;
    padding: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
#redPriority{
    background: red;
    padding: 20px;
    border-radius: 50%;
}
#notes{

}





/*Create Main Parent Container*/
#mainGridParent{
    display: flex;
    border: white solid thin;
    color: white;
    height: 99vh;
    width: 99vw;
    min-width: 400px;
    min-height: 500px;
}
/*Start Build on left panel*/
#leftPanel{
    flex-grow: .5;
    display: grid;
    grid-template-rows: 40px 40px 1fr;
    border: white solid thin;
    height: 100%;
    min-width: 200px;
    max-width: 240px;
}
#itasuTitle{
    text-align: center;
    margin-top: 10px;
}
#titleUnderline{
    width: 60%;
    height: 5px;
    margin: auto;
    background: white;
}
#projectTabs{
    display: flex;
    flex-direction: column;
    border: white solid thin;
    border-right:none;
    border-left: none;
    overflow-y: auto;
    overflow-x: hidden;

}
#projectTabs > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: white solid thin; 
}
p1{
    font-size: 27px;
}
/*Build the falling pixel bar*/
#timeBarBody{
    background-color: white;
    height: 100%;
    width: 35px;
    position: relative;
}
#sandBar{
    background: white;
    width: 35px;
    position: absolute;
    bottom: 0px;
}
#pixelBoard{
    background-color: silver;
    height: 100%;
    width: 35px;
    overflow: hidden;
}
#sandPixel{
    background-color: black;
    width: 5px;
    height: 5px;
    float: left;
}
#clockBar{
    display: flex;
    flex-wrap: wrap;
   
    width: 50px;
    min-width: 50px;
    height: 100%;
}
#clockBar > div{
    flex-grow: 1;
    border-bottom: white solid thin;
    
    display: flex;
    align-items: center;
}
/*Icon Builders from https://css.gg */
.gg-airplane {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs,1));
    background:
    linear-gradient(
    to left,
    currentColor 22px,
    transparent 0
    ) no-repeat center/16px 2px,
    radial-gradient(
    circle,
    currentColor 60%,
    transparent 40%
    ) no-repeat right center/2px 2px
   }
   
   .gg-airplane::after,
   .gg-airplane::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    border-right: 4px solid
   }
   
   .gg-airplane::before {
    border-top-right-radius: 2px;
    top: 0;
    transform:
    perspective(10px)
    rotateX(10deg)
    skewX(30deg);
    box-shadow: -4px 3px 0 -2px
   }
   
   .gg-airplane::after {
    border-bottom-right-radius: 2px;
    bottom: 0;
    transform:
    perspective(10px)
    rotateX(-10deg)
    skewX(-30deg);
    box-shadow: -4px -3px 0 -2px
   } 

   .gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    background:
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat -1px 6px/18px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 6px 14px/11px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 0 2px/4px 2px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 12px 17px/4px 4px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 6px 17px/4px 4px
   }
   
   .gg-shopping-cart::after,
   .gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
   }
   
   .gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
   } 

   .gg-board {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 12px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset 2px 0 0,inset -2px 0 0;
    border-radius: 2px
   } 
   .gg-adidas {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 23px;
    height: 15px;
    transform: scale(var(--ggs,1));
    overflow: hidden
   }
   
   .gg-adidas::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 5px;
    height: 18px;
    background: currentColor;
    transform: rotate(-30deg);
    left: 4px;
    bottom: -14px;
    box-shadow: 7px -2px,14px -4px
   } 

   .gg-bulb {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-bottom-color: transparent;
    border-radius: 100px
   }
   
   .gg-bulb::after,
   .gg-bulb::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-bulb::before {
    border-top: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    top: 10px;
    border-bottom: 2px solid transparent;
    box-shadow:
    0 5px 0 -2px,
    inset 2px 0 0 0,
    inset -2px 0 0 0,
    inset 0 -4px 0 -2px;
    width: 8px;
    height: 8px;
    left: 2px
   }
   
   .gg-bulb::after {
    width: 12px;
    height: 2px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-radius: 2px;
    bottom: 0;
    left: 0
   } 

   .gg-briefcase {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 16px;
    border: 2px solid;
    border-radius: 2px;
    margin-top: 1px
   }
   
   .gg-briefcase::after,
   .gg-briefcase::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-briefcase::before {
    border: 2px solid;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    left: 4px;
    width: 10px;
    height: 4px;
    border-bottom: 0;
    top: -5px
   }
   
   .gg-briefcase::after {
    width: 18px;
    height: 3px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow:
    0 2px 0,
    inset 16px 74px 0;
    top: 4px
   } 
   .gg-trash-empty {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
   }
   
   .gg-trash-empty::after,
   .gg-trash-empty::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-trash-empty::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
   }
   
   .gg-trash-empty::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
   } 