*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    background: linear-gradient(100deg, rgb(51, 182, 243), rgb(255, 0, 234), rgb(51, 182, 243), rgb(255, 0, 234));
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
/*Create Main Parent Container*/
#mainGridParent{
    display: flex;
    background-color: black;
    color: white;
    height: 98vh;
    width: 98.5vw;
    min-width: 400px;
    min-height: 500px;
}
/*Start Build on left panel*/
#leftPanel{
    flex-grow: .5;
    display: grid;
    grid-template-rows: 40px 40px 1fr;
    height: 100%;
    min-width: 200px;
    max-width: 240px;
}
#itasuTitle{
    text-align: center;
    margin-top: 10px;
}
#titleUnderline{
    width: 60%;
    height: 5px;
    margin: auto;
    background: linear-gradient(100deg, rgb(51, 182, 243), rgb(255, 0, 234), rgb(51, 182, 243), rgb(255, 0, 234));
}
#projectTabs{
    display: flex;
    flex-direction: column;
    border-right:none;
    border-left: none;
    overflow-y: auto;
    overflow-x: hidden;

}
#projectTabs > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
p1{
    font-size: 27px;
}
/*Build the falling pixel bar*/
#timeBarBody{
    background-color: white;
    height: 100%;
    width: 35px;
    position: relative;
}
#sandBar{
    background: lightsalmon;
    width: 35px;
    position: absolute;
    bottom: 0px;
}
#pixelBoard{
    background-color: silver;
    height: 100%;
    width: 35px;
    overflow: hidden;
}
#sandPixel{
    background-color: black;
    width: 5px;
    height: 5px;
    float: left;
}
#clockBar{
    display: flex;
    flex-wrap: wrap;
    padding-right: 5px;
    width: 50px;
    min-width: 50px;
    height: 100%;
}
#clockBar > div{
    flex-grow: 1;
    border-bottom: white solid thin;
    color:white;
    display: flex;
    align-items: center;
}
/*Start build on right side of timebar*/
#rightPanel{
    flex-grow: 2;
    border-left: none;
    display: flex;
    justify-content: space-evenly;
}
/*Build today panel*/
#todayTab{
    flex-grow: 1;
    min-width: 450px;
}
#todayTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    border-bottom: white solid thin;
}
#todayTitle > h1{
    margin-left: 15px;
    flex-grow: 1;
}
/*Build delete and add button*/
#addDelete{
    display: flex;
    justify-content: center;
    align-items: center;
}
#delete{
    background: rgb(255, 0, 234);
    margin-right: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 0, 234);
    transition: all .3s ease;
}
#add{
    background: rgb(51, 182, 243);
    margin-right: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(51, 182, 243);
    transition: all .3s ease;
}
#add:hover{
    color: black;
    cursor: pointer;
}
#delete:hover{
    color: black;
    cursor: pointer;
    font-weight: 600;
}
/*Style Checkbox*/
#checkBox{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    height: 19px;
    width: 19px;
    margin: 20px;
}
input:checked + p{
    text-decoration: line-through; 
}
p{
    color: white;
    font-size: .7cm;
    height: 100%;
    padding-left: 10px;
    border-left:lightsalmon solid thin;
}
/*Style the right side of today panel*/
#rightSideBar{
    width: 300px;
    max-width: 300px;
    min-width: 290px;
    display: grid;
    grid-template-rows: 70px auto 40px;
}
#deadlineBox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 40px;
padding-bottom: 10px;
padding-top: 10px;
margin-right: 10px;
border-bottom: white solid thin;
}
#deadlineBox > h1{
    flex: 1;
    margin-top: 2px;
    font-size: 25px;
}
#deadlineBox > p1{
    flex:1;
    font-size: 18px;
}
/*Build note area*/
#notes{
display: flex;
justify-content: center;

}
textarea{
    height: 99%;
    width:280px;
    background: black;
    color: white;
    font-size: 25px;
}
textarea:focus {
    outline: none;
    box-shadow: none;
  }
/*Build remove bar*/
#remove{
    background: lightsalmon;
    color: lightsalmon;
    font-size: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .3s ease;
}
#remove:hover{
    color: black;
    cursor: pointer;
}
/*Icon Builders from https://css.gg */
.gg-airplane {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs,1));
    background:
    linear-gradient(
    to left,
    currentColor 22px,
    transparent 0
    ) no-repeat center/16px 2px,
    radial-gradient(
    circle,
    currentColor 60%,
    transparent 40%
    ) no-repeat right center/2px 2px
   } 
   .gg-airplane::after,
   .gg-airplane::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    border-right: 4px solid
   }  
   .gg-airplane::before {
    border-top-right-radius: 2px;
    top: 0;
    transform:
    perspective(10px)
    rotateX(10deg)
    skewX(30deg);
    box-shadow: -4px 3px 0 -2px
   }
   .gg-airplane::after {
    border-bottom-right-radius: 2px;
    bottom: 0;
    transform:
    perspective(10px)
    rotateX(-10deg)
    skewX(-30deg);
    box-shadow: -4px -3px 0 -2px
   } 
   .gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    background:
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat -1px 6px/18px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 6px 14px/11px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 0 2px/4px 2px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 12px 17px/4px 4px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 6px 17px/4px 4px
   }
   .gg-shopping-cart::after,
   .gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
   }
   .gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
   } 
   .gg-board {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 12px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset 2px 0 0,inset -2px 0 0;
    border-radius: 2px
   } 
   .gg-adidas {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 23px;
    height: 15px;
    transform: scale(var(--ggs,1));
    overflow: hidden
   }
   .gg-adidas::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 5px;
    height: 18px;
    background: currentColor;
    transform: rotate(-30deg);
    left: 4px;
    bottom: -14px;
    box-shadow: 7px -2px,14px -4px
   } 
   .gg-bulb {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-bottom-color: transparent;
    border-radius: 100px
   }
   .gg-bulb::after,
   .gg-bulb::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   .gg-bulb::before {
    border-top: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    top: 10px;
    border-bottom: 2px solid transparent;
    box-shadow:
    0 5px 0 -2px,
    inset 2px 0 0 0,
    inset -2px 0 0 0,
    inset 0 -4px 0 -2px;
    width: 8px;
    height: 8px;
    left: 2px
   }
   .gg-bulb::after {
    width: 12px;
    height: 2px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-radius: 2px;
    bottom: 0;
    left: 0
   } 
   .gg-briefcase {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 16px;
    border: 2px solid;
    border-radius: 2px;
    margin-top: 1px
   }
   .gg-briefcase::after,
   .gg-briefcase::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   .gg-briefcase::before {
    border: 2px solid;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    left: 4px;
    width: 10px;
    height: 4px;
    border-bottom: 0;
    top: -5px
   }
   .gg-briefcase::after {
    width: 18px;
    height: 3px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow:
    0 2px 0,
    inset 16px 74px 0;
    top: 4px
   } 
   .gg-trash-empty {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
   }
   .gg-trash-empty::after,
   .gg-trash-empty::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   .gg-trash-empty::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
   }
   .gg-trash-empty::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
   } 